MAJOR_VERSION=8

MACOSX_DEPLOYMENT_TARGET_V9 = 10.14
MACOSX_DEPLOYMENT_TARGET_V8 = 10.13
IPHONEOS_DEPLOYMENT_TARGET_V8 = 11.0
IPHONEOS_DEPLOYMENT_TARGET_V9 = 12.0
WATCHOS_DEPLOYMENT_TARGET_V8 = 4.0
WATCHOS_DEPLOYMENT_TARGET_V9 = 5.0
TVOS_DEPLOYMENT_TARGET_V8 = 11.0
TVOS_DEPLOYMENT_TARGET_V9 = 11.0

MACOSX_DEPLOYMENT_TARGET = $(MACOSX_DEPLOYMENT_TARGET_V$(MAJOR_VERSION))
IPHONEOS_DEPLOYMENT_TARGET = $(IPHONEOS_DEPLOYMENT_TARGET_V$(MAJOR_VERSION))
WATCHOS_DEPLOYMENT_TARGET = $(WATCHOS_DEPLOYMENT_TARGET_V$(MAJOR_VERSION))
TVOS_DEPLOYMENT_TARGET = $(TVOS_DEPLOYMENT_TARGET_V$(MAJOR_VERSION))
XROS_DEPLOYMENT_TARGET = 1.0

GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS) SDK_V$(MAJOR_VERSION)
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(SWIFT_ACTIVE_COMPILATION_CONDITIONS) SDK_V$(MAJOR_VERSION)
