MAJOR_VERSION_DebugV9 = 9
MAJOR_VERSION_ReleaseV9 = 9
MAJOR_VERSION=$(MAJOR_VERSION_$(CONFIGURATION))

// Defaults when no version is specified
MACOSX_DEPLOYMENT_TARGET_V = 10.13
IPHONEOS_DEPLOYMENT_TARGET_V = 11.0
TVOS_DEPLOYMENT_TARGET_V = 11.0
WATCHOS_DEPLOYMENT_TARGET_V = 4.0

// SDK v9 versions
MACOSX_DEPLOYMENT_TARGET_V9 = 10.14
IPHONEOS_DEPLOYMENT_TARGET_V9 = 12.0
TVOS_DEPLOYMENT_TARGET_V9 = 12.0
WATCHOS_DEPLOYMENT_TARGET_V9 = 5.0

MACOSX_DEPLOYMENT_TARGET = $(MACOSX_DEPLOYMENT_TARGET_V$(MAJOR_VERSION))
IPHONEOS_DEPLOYMENT_TARGET = $(IPHONEOS_DEPLOYMENT_TARGET_V$(MAJOR_VERSION))
WATCHOS_DEPLOYMENT_TARGET = $(WATCHOS_DEPLOYMENT_TARGET_V$(MAJOR_VERSION))
TVOS_DEPLOYMENT_TARGET = $(TVOS_DEPLOYMENT_TARGET_V$(MAJOR_VERSION))
XROS_DEPLOYMENT_TARGET = 1.0

GCC_PREPROCESSOR_DEFINITIONS_V9 = $(GCC_PREPROCESSOR_DEFINITIONS) SDK_V9
GCC_PREPROCESSOR_DEFINITIONS_V = $(GCC_PREPROCESSOR_DEFINITIONS)
GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS_V$(MAJOR_VERSION))

SWIFT_ACTIVE_COMPILATION_CONDITIONS_V9 = $(SWIFT_ACTIVE_COMPILATION_CONDITIONS) SDK_V9
SWIFT_ACTIVE_COMPILATION_CONDITIONS_V = $(SWIFT_ACTIVE_COMPILATION_CONDITIONS)
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(SWIFT_ACTIVE_COMPILATION_CONDITIONS_V$(MAJOR_VERSION))
