#include "DeploymentTargets.xcconfig"

SUPPORTED_PLATFORMS = macosx iphoneos iphonesimulator watchos watchsimulator appletvos appletvsimulator xros xrsimulator
TARGETED_DEVICE_FAMILY = 1,2,3,4,7
SKIP_INSTALL = YES
DEFINES_MODULE = YES
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
DYLIB_INSTALL_NAME_BASE = @rpath
MACH_O_TYPE = mh_dylib
FRAMEWORK_VERSION = A

CURRENT_PROJECT_VERSION = 8.55.0

ALWAYS_SEARCH_USER_PATHS = NO
CLANG_ENABLE_OBJC_ARC = YES
CLANG_ENABLE_MODULES = YES
//OTHER_CFLAGS = -Wall -Wextra -Wpedantic -Wno-gnu-conditional-omitted-operand

GCC_OPTIMIZATION_LEVEL_Debug = 0
GCC_OPTIMIZATION_LEVEL_DebugV9 = 0
GCC_OPTIMIZATION_LEVEL_DebugWithoutUIKit = 0
GCC_OPTIMIZATION_LEVEL_Release = s
GCC_OPTIMIZATION_LEVEL_ReleaseWithoutUIKit = s
GCC_OPTIMIZATION_LEVEL_Test = 0
GCC_OPTIMIZATION_LEVEL_TestCI = 0
GCC_OPTIMIZATION_LEVEL = $(GCC_OPTIMIZATION_LEVEL_$(CONFIGURATION))

COPY_PHASE_STRIP_Debug = NO
COPY_PHASE_STRIP_DebugV9 = NO
COPY_PHASE_STRIP_DebugWithoutUIKit = YES
COPY_PHASE_STRIP_Release = YES
COPY_PHASE_STRIP_ReleaseWithoutUIKit = YES
COPY_PHASE_STRIP_Test = YES
COPY_PHASE_STRIP_TestCI = YES
COPY_PHASE_STRIP = $(COPY_PHASE_STRIP_$(CONFIGURATION))

OTHER_LDFLAGS[sdk=watch*] = $(inherited) -framework WatchKit

SUPPORTS_MACCATALYST = YES

CLANG_CXX_LANGUAGE_STANDARD = c++14
CLANG_CXX_LIBRARY = libc++

// This config is required so the code can access the SentryPrivate module. Removing this setting
// leads to an error Module _SentryPrivate not found in the SentryTests-Swift.h header when import the
// SentryPrivate module with @import _SentryPrivate.
HEADER_SEARCH_PATHS = $(SRCROOT)/Sources/Sentry/include/**

SWIFT_ACTIVE_COMPILATION_CONDITIONS_Debug = DEBUG
SWIFT_ACTIVE_COMPILATION_CONDITIONS_DebugV9 = SDK_V9 DEBUG
SWIFT_ACTIVE_COMPILATION_CONDITIONS_DebugWithoutUIKit = DEBUG SENTRY_NO_UIKIT
SWIFT_ACTIVE_COMPILATION_CONDITIONS_Test = SENTRY_TEST
SWIFT_ACTIVE_COMPILATION_CONDITIONS_TestCI = SENTRY_TEST_CI
SWIFT_ACTIVE_COMPILATION_CONDITIONS_Release =
SWIFT_ACTIVE_COMPILATION_CONDITIONS_ReleaseV9 = SDK_V9
SWIFT_ACTIVE_COMPILATION_CONDITIONS_ReleaseWithoutUIKit = SENTRY_NO_UIKIT
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(SWIFT_ACTIVE_COMPILATION_CONDITIONS_$(CONFIGURATION))

GCC_PREPROCESSOR_DEFINITIONS_Debug = DEBUG=1
GCC_PREPROCESSOR_DEFINITIONS_DebugV9 = SDK_V9=1 DEBUG=1
GCC_PREPROCESSOR_DEFINITIONS_DebugWithoutUIKit = DEBUG=1 SENTRY_NO_UIKIT=1
GCC_PREPROCESSOR_DEFINITIONS_Test = DEBUG=1 SENTRY_TEST=1
GCC_PREPROCESSOR_DEFINITIONS_TestCI = DEBUG=1 SENTRY_TEST=1 SENTRY_TEST_CI=1
GCC_PREPROCESSOR_DEFINITIONS_Release = RELEASE=1
GCC_PREPROCESSOR_DEFINITIONS_ReleaseV9 = SDK_V9=1 RELEASE=1
GCC_PREPROCESSOR_DEFINITIONS_ReleaseWithoutUIKit = RELEASE=1 SENTRY_NO_UIKIT=1
GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS_$(CONFIGURATION))
SWIFT_OBJC_INTEROP_MODE[sdk=xr*]=objcxx

CODE_SIGN_IDENTITY = iPhone Developer

ONLY_ACTIVE_ARCH_Debug = YES
ONLY_ACTIVE_ARCH_DebugV9 = YES
ONLY_ACTIVE_ARCH_DebugWithoutUIKit = YES
ONLY_ACTIVE_ARCH_Release = NO
ONLY_ACTIVE_ARCH_ReleaseV9 = NO
ONLY_ACTIVE_ARCH_ReleaseWithoutUIKit = NO
ONLY_ACTIVE_ARCH_Test = YES
ONLY_ACTIVE_ARCH_TestCI = YES
ONLY_ACTIVE_ARCH = $(ONLY_ACTIVE_ARCH_$(CONFIGURATION))

GCC_NO_COMMON_BLOCKS = YES

DEBUG_INFORMATION_FORMAT_Debug = dwarf
DEBUG_INFORMATION_FORMAT_DebugV9 = dwarf
DEBUG_INFORMATION_FORMAT_DebugWithoutUIKit = dwarf
DEBUG_INFORMATION_FORMAT_Release = dwarf-with-dsym
DEBUG_INFORMATION_FORMAT_ReleaseV9 = dwarf-with-dsym
DEBUG_INFORMATION_FORMAT_ReleaseWithoutUIKit = dwarf-with-dsym
DEBUG_INFORMATION_FORMAT_Test = dwarf
DEBUG_INFORMATION_FORMAT_TestCI = dwarf
DEBUG_INFORMATION_FORMAT = $(DEBUG_INFORMATION_FORMAT_$(CONFIGURATION))

ENABLE_TESTABILITY_Debug = YES
ENABLE_TESTABILITY_DebugV9 = YES
ENABLE_TESTABILITY_DebugWithoutUIKit = YES
ENABLE_TESTABILITY_Release = NO
ENABLE_TESTABILITY_ReleaseV9 = NO
ENABLE_TESTABILITY_ReleaseWithotuUIKit = NO
ENABLE_TESTABILITY_Test = YES
ENABLE_TESTABILITY_TestCI = YES
ENABLE_TESTABILITY = $(ENABLE_TESTABILITY_$(CONFIGURATION))

VALIDATE_PRODUCT_Release = YES
VALIDATE_PRODUCT_ReleaseV9 = YES
VALIDATE_PRODUCT_ReleaseWithoutUIKit = YES
VALIDATE_PRODUCT_Debug = NO
VALIDATE_PRODUCT_DebugWithoutUIKit = NO
VALIDATE_PRODUCT_Test = NO
VALIDATE_PRODUCT_TestCI = NO
VALIDATE_PRODUCT = $(VALIDATE_PRODUCT_$(CONFIGURATION))

CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer
GCC_C_LANGUAGE_STANDARD = gnu11

CLANG_MODULES_AUTOLINK_Debug = YES
CLANG_MODULES_AUTOLINK_DebugV9 = YES
CLANG_MODULES_AUTOLINK_Release = YES
CLANG_MODULES_AUTOLINK_ReleaseV9 = YES
CLANG_MODULES_AUTOLINK_Test = YES
CLANG_MODULES_AUTOLINK_TestCI = YES
CLANG_MODULES_AUTOLINK_DebugWithoutUIKit = NO
CLANG_MODULES_AUTOLINK_ReleaseWithoutUIKit = NO
CLANG_MODULES_AUTOLINK = $(CLANG_MODULES_AUTOLINK_$(CONFIGURATION))

ENABLE_NS_ASSERTIONS_DebugWithoutUIKit = YES
ENABLE_NS_ASSERTIONS_Debug = YES
ENABLE_NS_ASSERTIONS_DebugV9 = YES
ENABLE_NS_ASSERTIONS_Test = YES
ENABLE_NS_ASSERTIONS_TestCI = YES
ENABLE_NS_ASSERTIONS_Release = NO
ENABLE_NS_ASSERTIONS_ReleaseV9 = NO
ENABLE_NS_ASSERTIONS_ReleaseWithoutUIKit = NO
ENABLE_NS_ASSERTIONS = $(ENABLE_NS_ASSERTIONS_$(CONFIGURATION))

ENABLE_STRICT_OBJC_MSGSEND = YES

GCC_TREAT_WARNINGS_AS_ERRORS = YES

CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = YES
CLANG_WARN_COMMA = YES
CLANG_WARN_DOCUMENTATION_COMMENTS = YES
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_INFINITE_RECURSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_NON_LITERAL_NULL_CONVERSION = YES
CLANG_WARN_STRICT_PROTOTYPES = YES
CLANG_WARN_UNREACHABLE_CODE = YES
GCC_TREAT_INCOMPATIBLE_POINTER_TYPE_WARNINGS_AS_ERRORS = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_VARIABLE = YES
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR
CLANG_WARN_RANGE_LOOP_ANALYSIS = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
CLANG_ANALYZER_NONNULL = YES

SWIFT_COMPILATION_MODE_DebugWithoutUIKit = singlefile
SWIFT_COMPILATION_MODE_Debug = singlefile
SWIFT_COMPILATION_MODE_DebugV9 = singlefile
SWIFT_COMPILATION_MODE_Test = singlefile
SWIFT_COMPILATION_MODE_TestCI = singlefile
SWIFT_COMPILATION_MODE_Release = wholemodule
SWIFT_COMPILATION_MODE_ReleaseV9 = wholemodule
SWIFT_COMPILATION_MODE_ReleaseWithoutUIKit = wholemodule
SWIFT_COMPILATION_MODE = $(SWIFT_COMPILATION_MODE_$(CONFIGURATION))

SWIFT_OPTIMIZATION_LEVEL_Debug = -Onone
SWIFT_OPTIMIZATION_LEVEL_DebugV9 = -Onone
SWIFT_OPTIMIZATION_LEVEL_DebugWithoutUIKit = -Onone
SWIFT_OPTIMIZATION_LEVEL_Release = -Osize
SWIFT_OPTIMIZATION_LEVEL_ReleaseV9 = -Osize
SWIFT_OPTIMIZATION_LEVEL_ReleaseWithoutUIKit = -Osize
SWIFT_OPTIMIZATION_LEVEL_Test = -Onone
SWIFT_OPTIMIZATION_LEVEL_TestCI = -Onone
SWIFT_OPTIMIZATION_LEVEL = $(SWIFT_OPTIMIZATION_LEVEL_$(CONFIGURATION))

SWIFT_TREAT_WARNINGS_AS_ERRORS = YES

MTL_ENABLE_DEBUG_INFO_Debug = YES
MTL_ENABLE_DEBUG_INFO_DebugV9 = YES
MTL_ENABLE_DEBUG_INFO_DebugWithoutUIKit = YES
MTL_ENABLE_DEBUG_INFO_Release = NO
MTL_ENABLE_DEBUG_INFO_ReleaseV9 = NO
MTL_ENABLE_DEBUG_INFO_ReleaseWithoutUIKit = NO
MTL_ENABLE_DEBUG_INFO_Test = YES
MTL_ENABLE_DEBUG_INFO_TestCI = YES
MTL_ENABLE_DEBUG_INFO = $(MTL_ENABLE_DEBUG_INFO_$(CONFIGURATION))

CLANG_ANALYZER_NUMBER_OBJECT_CONVERSION = YES
CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER = NO
GCC_DYNAMIC_NO_PIC = NO
