#include "DeploymentTargets.xcconfig"

ARCHS = $(ARCHS_STANDARD) arm64e
ARCHS[sdk=*simulator] = $(ARCHS_STANDARD)

SWIFT_ACTIVE_COMPILATION_CONDITIONS_Test = SENTRY_TEST
SWIFT_ACTIVE_COMPILATION_CONDITIONS_TestCI = SENTRY_TEST_CI
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(SWIFT_ACTIVE_COMPILATION_CONDITIONS_$(CONFIGURATION))

GCC_PREPROCESSOR_DEFINITIONS_Test = DEBUG=1 SENTRY_TEST=1
GCC_PREPROCESSOR_DEFINITIONS_TestCI = DEBUG=1 SENTRY_TEST=1 SENTRY_TEST_CI=1
GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS_$(CONFIGURATION))
