IMPLICIT_DEPENDENCY_DOMAIN = SentryV10

ENABLE_POINTER_AUTHENTICATION[sdk=appletvos*] = NO
ENABLE_POINTER_AUTHENTICATION[sdk=watchos*] = NO

SENTRY_OBJC_POINTER_AUTHENTICATION_FOR_CATALYST_YES = NO
SENTRY_OBJC_POINTER_AUTHENTICATION_FOR_CATALYST_NO = YES
ENABLE_POINTER_AUTHENTICATION[sdk=macosx*] = $(SENTRY_OBJC_POINTER_AUTHENTICATION_FOR_CATALYST_$(IS_MACCATALYST))
