#include "Versions.xcconfig"

PRODUCT_NAME = Sentry
INFOPLIST_FILE = Sources/Resources/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = io.sentry.Sentry

MODULEMAP_FILE = $(SRCROOT)/Sources/Resources/Sentry.modulemap

PRODUCT_MODULE_NAME_Debug = Sentry
PRODUCT_MODULE_NAME_Debug_without_UIKit = Sentry_without_UIKit
PRODUCT_MODULE_NAME_Test = Sentry
PRODUCT_MODULE_NAME_TestCI = Sentry
PRODUCT_MODULE_NAME_Release = Sentry
PRODUCT_MODULE_NAME_Release_without_UIKit = Sentry_without_UIKit
PRODUCT_MODULE_NAME = $(PRODUCT_MODULE_NAME_$(CONFIGURATION))
