#include "DeploymentTargets.xcconfig"

INFOPLIST_FILE = Sources/Resources/Info.plist

SENTRY_MODULE_NAME = Sentry
SENTRY_WITHOUT_UIKIT_MODULE_NAME = SentryWithoutUIKit

// This config is required so the test code can access the SentryPrivate module. Removing this setting
// leads to an error: no such module '_SentryPrivate' when including the XCFramework with Carthage
HEADER_SEARCH_PATHS = $(SRCROOT)/Sources/Sentry/include/**

PRODUCT_MODULE_NAME_Debug = $(SENTRY_MODULE_NAME)
PRODUCT_MODULE_NAME_DebugV9 = $(SENTRY_MODULE_NAME)
PRODUCT_MODULE_NAME_DebugWithoutUIKit = $(SENTRY_WITHOUT_UIKIT_MODULE_NAME)
PRODUCT_MODULE_NAME_Test = $(SENTRY_MODULE_NAME)
PRODUCT_MODULE_NAME_TestCI = $(SENTRY_MODULE_NAME)
PRODUCT_MODULE_NAME_Release = $(SENTRY_MODULE_NAME)
PRODUCT_MODULE_NAME_ReleaseV9 = $(SENTRY_MODULE_NAME)
PRODUCT_MODULE_NAME_ReleaseWithoutUIKit = $(SENTRY_WITHOUT_UIKIT_MODULE_NAME)
PRODUCT_MODULE_NAME = $(PRODUCT_MODULE_NAME_$(CONFIGURATION))

PRODUCT_NAME = $(PRODUCT_MODULE_NAME)
PRODUCT_BUNDLE_IDENTIFIER = io.sentry.$(PRODUCT_MODULE_NAME)
MODULEMAP_FILE = $(SRCROOT)/Sources/Resources/$(PRODUCT_MODULE_NAME_$(CONFIGURATION)).modulemap
ARCHS = $(ARCHS_STANDARD) arm64e
ARCHS[sdk=*simulator] = $(ARCHS_STANDARD)

OTHER_CFLAGS = -DCARTHAGE_$(CARTHAGE)

BUILD_LIBRARY_FOR_DISTRIBUTION = YES
INSTALL_PATH = $(LOCAL_LIBRARY_DIR)/Frameworks
DYLIB_INSTALL_NAME_BASE = @rpath
LD_DYLIB_INSTALL_NAME = $(DYLIB_INSTALL_NAME_BASE:standardizepath)/$(EXECUTABLE_PATH)
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
USE_HEADERMAP = YES

CODE_SIGN_STYLE = Manual
DEVELOPMENT_TEAM =
CODE_SIGN_IDENTITY =
PROVISIONING_PROFILE_SPECIFIER =

GCC_C_LANGUAGE_STANDARD = gnu11

ENABLE_STRICT_OBJC_MSGSEND = NO

CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_FLOAT_CONVERSION = YES
GCC_WARN_SHADOW = YES

SWIFT_VERSION = 5.0
CLANG_WARN_ASSIGN_ENUM = NO
