#include "Versioning.xcconfig"

PRODUCT_NAME = SentrySwiftLog
CURRENT_PROJECT_VERSION = $(MARKETING_VERSION)

GENERATE_INFOPLIST_FILE = YES
PRODUCT_BUNDLE_IDENTIFIER = io.sentry.$(PRODUCT_NAME)

MACOSX_DEPLOYMENT_TARGET = 12
IPHONEOS_DEPLOYMENT_TARGET = 15.0
WATCHOS_DEPLOYMENT_TARGET = 8.0
TVOS_DEPLOYMENT_TARGET = 15.0
MACH_O_TYPE = mh_dylib

OTHER_LDFLAGS_DebugWithoutUIKit = -framework SentryWithoutUIKit
OTHER_LDFLAGS_ReleaseWithoutUIKit = -framework SentryWithoutUIKit
OTHER_LDFLAGS_Debug = -framework Sentry
OTHER_LDFLAGS_Test = -framework Sentry
OTHER_LDFLAGS_TestCI = -framework Sentry
OTHER_LDFLAGS_Release = -framework Sentry
OTHER_LDFLAGS = $(OTHER_LDFLAGS_$(CONFIGURATION))
ARCHS = $(ARCHS_STANDARD)
ARCHS[sdk=*simulator] = $(ARCHS_STANDARD)

CODE_SIGN_STYLE = Manual
DEVELOPMENT_TEAM =
CODE_SIGN_IDENTITY =
PROVISIONING_PROFILE_SPECIFIER =
