PRODUCT_NAME = SentrySwiftUI
CURRENT_PROJECT_VERSION = 7.31.3

MACOSX_DEPLOYMENT_TARGET = 10.15
IPHONEOS_DEPLOYMENT_TARGET = 13.0
WATCHOS_DEPLOYMENT_TARGET = 6.0
TVOS_DEPLOYMENT_TARGET = 13.0
MACH_O_TYPE = mh_dylib

OTHER_LDFLAGS_DebugWithoutUIKit = -framework SentryWithoutUIKit
OTHER_LDFLAGS_ReleaseWithoutUIKit = -framework SentryWithoutUIKit
OTHER_LDFLAGS_Debug = -framework Sentry
OTHER_LDFLAGS_Test = -framework Sentry
OTHER_LDFLAGS_TestCI = -framework Sentry
OTHER_LDFLAGS_Release = -framework Sentry
OTHER_LDFLAGS = $(OTHER_LDFLAGS_$(CONFIGURATION))
