BasedOnStyle: WebKit
IndentWidth: 4
IndentPPDirectives: AfterHash
ColumnLimit: 120
AlwaysBreakAfterDefinitionReturnType: All
PointerAlignment: Right
ForEachMacros: ['SENTRY_WITH_SCOPE', 'SENTRY_WITH_SCOPE_MUT']
