--acronyms ID,URL,UUID,SDK
--allman false
--assetliterals visual-width
--beforemarks
--binarygrouping none
--categorymark "MARK: %c"
--classthreshold 0
--closurevoid preserve
--commas always
--conflictmarkers reject
--elseposition same-line
--emptybraces no-space
--enumthreshold 0
--exponentcase lowercase
--exponentgrouping disabled
--extensionacl on-extension
--extensionlength 0
--extensionmark "MARK: - %t + %c"
--fragment false
--funcattributes preserve
--groupedextension "MARK: %c"
--guardelse auto
--header ignore
--hexgrouping none
--hexliteralcase lowercase
--ifdef no-indent
--importgrouping alpha
--indent 4
--indentcase false
--indentstrings false
--lifecycle
--lineaftermarks true
--linebreaks lf
--markcategories true
--markextensions always
--marktypes always
--maxwidth none
--modifierorder
--nevertrailing
--nowrapoperators
--octalgrouping none
--organizetypes actor,class,enum,struct
--patternlet inline
--ranges spaced
--redundanttype infer-locals-only
--rules acronyms
--rules trailingCommas
--rules consecutiveSpaces
--rules hoistPatternLet
--rules indent
--rules numberFormatting
--rules redundantVoidReturnType
--rules redundantget
--rules redundantinit
--rules redundantnilinit
--rules redundantrawvalues
--rules sortedimports
--rules spacearoundbraces
--rules spacearoundoperators
--rules todos
--rules trailingSpace
--rules trailingclosures
--rules typesugar
--rules unusedArguments
--rules wrapArguments
--self remove
--selfrequired
--semicolons inline
--shortoptionals always
--smarttabs enabled
--stripunusedargs closure-only
--structthreshold 0
--tabwidth unspecified
--trimwhitespace nonblank-lines
--typeattributes preserve
--typemark "MARK: - %t"
--varattributes preserve
--voidtype void
--wraparguments preserve
--wrapcollections preserve
--wrapconditions preserve
--wrapparameters preserve
--wrapreturntype preserve
--wrapternary default
--wraptypealiases preserve
--xcodeindentation disabled
--yodaswap always
