#include "../../Sources/Configuration/Sentry.xcconfig"
#include "../../Sources/Configuration/DeploymentTargets.xcconfig"

PRODUCT_NAME = Tests
INFOPLIST_FILE = Tests/SentryTests/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = io.sentry.Sentry.tests
ALWAYS_SEARCH_USER_PATHS = NO
CLANG_ENABLE_OBJC_ARC = YES
CLANG_ENABLE_MODULES = YES
OTHER_CFLAGS = -Wall -Wextra
APPLICATION_EXTENSION_API_ONLY = NO
