DEBUG_INFORMATION_FORMAT_Debug = dwarf
DEBUG_INFORMATION_FORMAT_Test = dwarf-with-dsym
DEBUG_INFORMATION_FORMAT_TestCI = dwarf-with-dsym
DEBUG_INFORMATION_FORMAT_Release = dwarf-with-dsym
DEBUG_INFORMATION_FORMAT = $(DEBUG_INFORMATION_FORMAT_$(CONFIGURATION))

ENABLE_TESTABILITY_Debug = YES
ENABLE_TESTABILITY_Test = YES
ENABLE_TESTABILITY_TestCI = YES
ENABLE_TESTABILITY_Release = NO
ENABLE_TESTABILITY = $(ENABLE_TESTABILITY_$(CONFIGURATION))

VALIDATE_PRODUCT_Debug = NO
VALIDATE_PRODUCT_Test = YES
VALIDATE_PRODUCT_TestCI = YES
VALIDATE_PRODUCT_Release = YES
VALIDATE_PRODUCT = $(VALIDATE_PRODUCT_$(CONFIGURATION))
