GCC_C_LANGUAGE_STANDARD = compiler-default
GCC_NO_COMMON_BLOCKS = YES
GCC_TREAT_INCOMPATIBLE_POINTER_TYPE_WARNINGS_AS_ERRORS = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_VARIABLE = YES

GCC_OPTIMIZATION_LEVEL = $(GCC_OPTIMIZATION_LEVEL_$(CONFIGURATION))
GCC_OPTIMIZATION_LEVEL_Debug = 0
GCC_OPTIMIZATION_LEVEL_Test = 0
GCC_OPTIMIZATION_LEVEL_TestCI = 0
GCC_OPTIMIZATION_LEVEL_Release = s

GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS_$(CONFIGURATION))
GCC_PREPROCESSOR_DEFINITIONS_Debug = DEBUG=1 $(inherited)
GCC_PREPROCESSOR_DEFINITIONS_Test = DEBUG=1 $(inherited) TEST=1
GCC_PREPROCESSOR_DEFINITIONS_TestCI = DEBUG=1 $(inherited) TEST=1 TESTCI=1
