#include "Clang.xcconfig"
#include "CodeSigning.xcconfig"
#include "Deployment.xcconfig"
#include "GCC.xcconfig"
#include "Linker.xcconfig"
#include "ObjC.xcconfig"
#include "Swift.xcconfig"
#include "Versions.xcconfig"

ALWAYS_SEARCH_USER_PATHS = NO
PRODUCT_NAME = $(TARGET_NAME)

ENABLE_NS_ASSERTIONS = $(ENABLE_NS_ASSERTIONS_$(CONFIGURATION))
ENABLE_NS_ASSERTIONS_Release = NO
ENABLE_NS_ASSERTIONS_Debug = YES
ENABLE_NS_ASSERTIONS_Test = YES
ENABLE_NS_ASSERTIONS_TestCI = YES

VALIDATE_PRODUCT = $(VALIDATE_PRODUCT_$(CONFIGURATION))
VALIDATE_PRODUCT_Release = YES
VALIDATE_PRODUCT_Debug = NO
VALIDATE_PRODUCT_Test = NO
VALIDATE_PRODUCT_TestCI = NO

DEBUG_INFORMATION_FORMAT = $(DEBUG_INFORMATION_FORMAT_$(CONFIGURATION))
DEBUG_INFORMATION_FORMAT_Debug = dwarf
DEBUG_INFORMATION_FORMAT_Release = dwarf-with-dsym
DEBUG_INFORMATION_FORMAT_Test = dwarf
DEBUG_INFORMATION_FORMAT_TestCI = dwarf

MTL_ENABLE_DEBUG_INFO = $(MTL_ENABLE_DEBUG_INFO_$(CONFIGURATION))
MTL_ENABLE_DEBUG_INFO_Debug = YES
MTL_ENABLE_DEBUG_INFO_Test = YES
MTL_ENABLE_DEBUG_INFO_TestCI = YES
MTL_ENABLE_DEBUG_INFO_Release = NO

ENABLE_TESTABILITY = $(ENABLE_TESTABILITY_$(CONFIGURATION))
ENABLE_TESTABILITY_Release = NO
ENABLE_TESTABILITY_Debug = YES
ENABLE_TESTABILITY_Test = YES
ENABLE_TESTABILITY_TestCI = YES

ONLY_ACTIVE_ARCH = $(ONLY_ACTIVE_ARCH_$(CONFIGURATION))
ONLY_ACTIVE_ARCH_Debug = YES
ONLY_ACTIVE_ARCH_Test = YES
ONLY_ACTIVE_ARCH_TestCI = YES
ONLY_ACTIVE_ARCH_Release = NO
