ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor
CLANG_WARN_UNGUARDED_AVAILABILITY = YES_AGGRESSIVE
COMBINE_HIDPI_IMAGES = YES
COPY_PHASE_STRIP = NO
ENABLE_STRICT_OBJC_MSGSEND = YES
MTL_FAST_MATH = YES
SKIP_INSTALL = NO
SWIFT_EMIT_LOC_STRINGS = YES

MTL_ENABLE_DEBUG_INFO = $(MTL_ENABLE_DEBUG_INFO_$(CONFIGURATION))
MTL_ENABLE_DEBUG_INFO_Debug = INCLUDE_SOURCE
MTL_ENABLE_DEBUG_INFO_Test = INCLUDE_SOURCE
MTL_ENABLE_DEBUG_INFO_TestCI = INCLUDE_SOURCE
MTL_ENABLE_DEBUG_INFO_Release = NO
