#include "../../../Common.xcconfig"

PRODUCT_NAME = CrashE2E-macOS
PRODUCT_BUNDLE_IDENTIFIER = io.sentry.tests.CrashE2E.macOS
SWIFT_VERSION = 5.0
SWIFT_OBJC_BRIDGING_HEADER = $(PROJECT_DIR)/App/Sources/CrashE2EObjCBridge.h
CLANG_CXX_LANGUAGE_STANDARD = gnu++17
GCC_ENABLE_CPP_EXCEPTIONS = YES
GCC_ENABLE_OBJC_EXCEPTIONS = YES
