#include "../iOS.xcconfig"
#include "../SampleApp.xcconfig"
#include "../Catalyst.xcconfig"

CODE_SIGN_ENTITLEMENTS = $(SRCROOT)/Samples/iOS-Swift/iOS-Swift/iOS-Swift.entitlements
INFOPLIST_FILE = $(SRCROOT)/Samples/iOS-Swift/iOS-Swift/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = io.sentry.sample.iOS-Swift
SWIFT_OBJC_BRIDGING_HEADER = $(SRCROOT)/Samples/iOS-Swift/iOS-Swift/Tools/iOS-Swift-Bridging-Header.h
