PRODUCT_NAME = SwiftUITestSample
PRODUCT_BUNDLE_IDENTIFIER = io.sentry.tests.SwiftUITestSample
GENERATE_INFOPLIST_FILE = YES
INFOPLIST_KEY_UISupportedInterfaceOrientations_iPhone = UIInterfaceOrientationPortrait
INFOPLIST_KEY_UIApplicationSceneManifest_Generation = YES
INFOPLIST_KEY_UILaunchScreen_Generation = YES
CODE_SIGN_STYLE = Manual
SUPPORTED_PLATFORMS = iphoneos iphonesimulator
CURRENT_PROJECT_VERSION = 1
