name: "Assemble Sentry Cocoa XCFramework variant"

on:
  workflow_call:
    inputs:
      name:
        description: |-
          The Sentry project target to build an XCFramework slice for.
          Possible values: Sentry, SentrySwiftUI.
        required: true
        type: string

      suffix:
        description: |-
          The suffix to add to the build product name.
          E.g. "-Dynamic" or "-WithoutUIKitOrAppKit".
        required: false
        type: string

      variant-id:
        description: |-
          The ID of the variant to build an XCFramework slice for. Used to collect appropriate slices for final deliverable assembly.
          E.g. "sentry-static", "sentry-dynamic" or "sentry-withoutuikit-dynamic"
        required: true
        type: string

jobs:
  assemble-xcframework-variant:
    name: Assemble ${{inputs.name}}${{inputs.suffix}} XCFramework Variant

    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4

      - name: Download ${{inputs.variant-id}} Slices
        uses: actions/download-artifact@v4
        with:
          pattern: xcframework-${{inputs.variant-id}}-slice-*
          path: xcframework-slices

      - name: Assemble XCFramework
        run: ./scripts/assemble-xcframework.sh "${{github.workspace}}/xcframework-slices" "${{inputs.name}}${{inputs.suffix}}"
        shell: bash

      - name: Upload XCFramework
        uses: actions/upload-artifact@v4
        with:
          name: xcframework-${{github.sha}}-${{inputs.variant-id}}
          if-no-files-found: error
          path: ${{inputs.name}}${{inputs.suffix}}.xcframework.zip
