name: Changelog Preview
on:
  pull_request_target:
    types: [opened, synchronize, reopened, edited, labeled]

permissions:
  contents: read
  pull-requests: write

jobs:
  changelog-preview:
    uses: getsentry/craft/.github/workflows/changelog-preview.yml@1c58bfd57bfd6a967b6f3fc92bead2c42ee698ce # v2
    secrets: inherit
