name: Changelog Preview
on:
  pull_request_target:
    types: [opened, synchronize, reopened, edited, labeled]

permissions:
  contents: read
  pull-requests: write
  statuses: write

jobs:
  changelog-preview:
    uses: getsentry/craft/.github/workflows/changelog-preview.yml@564d9f5a3186fd8685cc17e5fe9c6915531ff98d # v2
    secrets: inherit
