name: Changelog Preview
on:
  pull_request_target:
    types: [opened, synchronize, reopened, edited, labeled]

permissions:
  contents: read
  pull-requests: write
  statuses: write

jobs:
  changelog-preview:
    uses: getsentry/craft/.github/workflows/changelog-preview.yml@ce288193e2ac7976b0ffd1d5733527605e6fd63b # v2
    secrets: inherit
