name: lint
on:
  push:
    branches:
      - main
    paths:
      - "Sources/**"
      - "Tests/**"
      - "test-server/**"
      - "Samples/**"
      - ".github/workflows/lint.yml"
      - "scripts/ci-select-xcode.sh"
      - "*.json"
      - "*.md"
      
  pull_request:
    paths:
      - "Sources/**"
      - "Tests/**"
      - "test-server/**"
      - "Samples/**"
      - ".github/workflows/lint.yml"
      - "scripts/ci-select-xcode.sh"
      - "Sentry.xcodeproj/**"
      - "*.podspec"
      - "Gemfile.lock"
      - "*.json"
      - "*.md"
      
# https://docs.github.com/en/actions/using-jobs/using-concurrency#example-using-a-fallback-value
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  swift-lint:
    name: Swift Lint
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v4
      - run: swiftlint --version
      - name: Run SwiftLint
        run: swiftlint --strict

  xcode-analyze:
    name: Xcode Analyze
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - run: ./scripts/ci-select-xcode.sh 15.0
      - run: make analyze

  lint-podspec:
    name: pod lint ${{ matrix.podspec}} ${{ matrix.library_type }} ${{ matrix.platform}}
    runs-on: macos-14
    strategy:
      fail-fast: false
      matrix:
        podspec: ["Sentry", "SentrySwiftUI"]
        platform: ["ios", "macos", "tvos", "watchos"]
        library_type: ["dynamic", "static"]

    steps:
      - uses: actions/checkout@v4
      - run: ./scripts/ci-select-xcode.sh 15.0
      # We need to update the spec-repo, because it can happen that it is not up to date and then the lint fails.
      - run: pod repo update
      - name: Validate Podspec
        run: ./scripts/pod-lib-lint.sh ${{ matrix.platform }} ${{ matrix.podspec}} ${{ matrix.library_type}}

  lint-hybrid-sdk-podspec:
    name: pod lint Sentry/HybridSDK
    runs-on: macos-14

    steps:
      - uses: actions/checkout@v4
      - run: ./scripts/ci-select-xcode.sh 15.0
      - run: pod repo update
      - name: Validate HybridPod Podspec
        run: pod lib lint ./Tests/HybridSDKTest/HybridPod.podspec --allow-warnings --verbose --platforms=ios "--include-podspecs={Sentry.podspec}"

  shellcheck:
    name: Run Shellcheck
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v4
      - run: brew install shellcheck
      - run: shellcheck **/*.sh

  lint-prettier:
    name: Run Prettier
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: corepack enable
      - run: yarn install
      - run: yarn prettier --check --ignore-unknown --config .prettierrc "**/*.{md,json}"
