name: lint
on:
  push:
    branches:
      - main
    paths:
      - 'Sources/**'
      - 'Tests/**'
      - 'test-server/**'
      - 'Samples/**'
      - '.github/workflows/lint.yml'
      - 'scripts/ci-select-xcode.sh'
      - 'scripts/no-changes-in-high-risk-files.sh'

  pull_request:
    paths:
      - 'Sources/**'
      - 'Tests/**'
      - 'test-server/**'
      - 'Samples/**'
      - '.github/workflows/lint.yml'
      - 'scripts/ci-select-xcode.sh'
      - 'scripts/no-changes-in-high-risk-files.sh'
      - 'Sentry.xcodeproj/**'

jobs:
  swift-lint:
    name: Swift Lint
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v3
      - name: Run SwiftLint
        run: swiftlint

  xcode-analyze:
    name: Xcode Analyze
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v3
      - run: ./scripts/ci-select-xcode.sh
      - run: make analyze

  lint-podspec:
    name: Lint ${{ matrix.podspec}} ${{ matrix.library_type }} for ${{ matrix.platform}} 
    runs-on: macos-12
    strategy:
      matrix:
        podspec: ['Sentry', 'SentrySwiftUI']
        platform: ['ios', 'macos', 'tvos', 'watchos']
        library_type: ['dynamic', 'static']

    steps:
      - uses: actions/checkout@v3
      - run: ./scripts/ci-select-xcode.sh
      # We need to update the spec-repo, because it can happen that it is not up to date and then the lint fails.
      - run: pod repo update
      - name: Validate Podspec
        run: ./scripts/pod-lib-lint.sh ${{ matrix.platform }} ${{ matrix.podspec}} ${{ matrix.library_type}}


  validate-high-risk-files:
    name: No changes in high risk files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: ./scripts/no-changes-in-high-risk-files.sh
