# We want to run prettier for only the files it checks without running the other linters, which are
# expensive. For example, prettier should run for markdown changes, but pod lib lint doesn't need to
# run for markdown changes. Therefore, we run it in an extra workflow.

name: lint-prettier
on:
  push:
    branches:
      - main
    paths:
      - "*.yml"
      - "*.yaml"
      - "*.json"
      - "*.md"

  pull_request:
    paths:
      - "*.yml"
      - "*.yaml"
      - "*.json"
      - "*.md"

jobs:
  lint-prettier:
    name: Run Prettier
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
      - run: corepack enable
      - run: yarn install
      - run: yarn prettier --check --ignore-unknown --config .prettierrc "**/*.{md,json,yml,yaml}"
