name: lint
on:
  push:
    branches:
      - main
    paths:
      - 'Sources/**'
      - 'Tests/**'
      - 'test-server/**'
      - 'Samples/**'
      - '.github/workflows/lint.yml'
      - 'scripts/ci-select-xcode.sh'
      - 'scripts/no-changes-in-high-risk-files.sh'

  pull_request:
    paths:
      - 'Sources/**'
      - 'Tests/**'
      - 'test-server/**'
      - 'Samples/**'
      - '.github/workflows/lint.yml'
      - 'scripts/ci-select-xcode.sh'
      - 'scripts/no-changes-in-high-risk-files.sh'

jobs:
  swift-lint:
    name: Swift Lint
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v3
      - name: Run SwiftLint
        run: swiftlint

  xcode-analyze:
    name: Xcode Analyze
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v3
      - run: ./scripts/ci-select-xcode.sh
      - run: make analyze

  validate-podspec-framework:
    name: Validate Podspec as Framework
    runs-on: macos-12
    strategy:
      matrix:
        platform: ['ios', 'macos', 'tvos', 'watchos']

    steps:
      - uses: actions/checkout@v3
      - run: ./scripts/ci-select-xcode.sh
      - name: Validate Podspec
        run: pod lib lint --verbose --platforms=${{ matrix.platform }} Sentry.podspec --include-podspecs=SentryPrivate.podspec
        shell: sh

  validate-podspec-static:
    name: Validate Podspec as Static library
    runs-on: macos-12
    strategy:
      matrix:
        platform: ['ios', 'macos', 'tvos', 'watchos']

    steps:
      - uses: actions/checkout@v3
      - run: ./scripts/ci-select-xcode.sh
      - name: Validate Podspec
        run: pod lib lint --verbose --platforms=${{ matrix.platform }} Sentry.podspec --include-podspecs=SentryPrivate.podspec --use-libraries 
        shell: sh

  validate-SentrySwiftUI-podspec:
    name: Validate SentrySwiftUI Podspec
    runs-on: macos-12
    strategy:
      matrix:
        platform: ['ios', 'macos', 'tvos', 'watchos']

    steps:
      - uses: actions/checkout@v3
      - run: ./scripts/ci-select-xcode.sh
      - name: Validate Podspec
        run: pod lib lint --verbose --platforms=${{ matrix.platform }} SentrySwiftUI.podspec --include-podspecs=Sentry.podspec,SentryPrivate.podspec
        shell: sh

  validate-high-risk-files:
    name: No changes in high risk files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: ./scripts/no-changes-in-high-risk-files.sh
