name: lint
on:
  pull_request:

jobs:
  swift-lint:
    name: Swift Lint
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v2
      - name: Run SwiftLint
        run: swiftlint

  validate-podspec:
    name: Validate Podspec
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v2
      - name: Validate Podspec
        run: pod lib lint
        shell: sh

  validate-high-risk-files:
    name: No changes in high risk files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: ./scripts/ci-select-xcode.sh
