name: Ready to Merge Workflow
on:
  workflow_call:
    inputs:
      labels:
        description: The GitHub event's labels
        required: true
        type: string

jobs:
  ready:
    name: ${{ !contains(inputs.labels, 'ready-to-merge') && 'Missing "ready-to-merge" label' || 'Missing "ready-to-merge" label' }}
    runs-on: ubuntu-latest
    steps:
      - name: Fail until the 'ready-to-merge' label is present
        if: ${{ !contains(inputs.labels, 'ready-to-merge') }}
        run: |
          echo "Add the 'ready-to-merge' label to run CI."
          exit 1
      - name: Gate passed
        if: ${{ contains(inputs.labels, 'ready-to-merge') }}
        run: echo "Label present. Proceeding with CI."
