name: Ready to Merge Workflow
on:
  workflow_call:
    inputs:
      labels:
        description: The GitHub event's labels
        required: true
        type: string
      is-pr:
        description: Whether the workflow is running on a PR
        required: true
        type: boolean

jobs:
  ready-to-merge-gate:
    name: 'Missing "ready-to-merge" label'
    runs-on: ubuntu-latest
    steps:
      # Since Github also accepts `skipped` results for Required Workflows, we need
      # to fail the job to ensure that the downstream jobs don't just skip.
      - name: Fail until the 'ready-to-merge' label is present
        if: ${{ inputs.is-pr == 'true' && !contains(inputs.labels, 'ready-to-merge') }}
        run: |
          echo "Add the 'ready-to-merge' label to run CI."
          exit 1
      - name: Gate passed
        if: ${{ inputs.is-pr == 'true' && contains(inputs.labels, 'ready-to-merge') }}
        run: echo "Label present. Proceeding with CI."
      - name: Gate passed
        if: ${{ inputs.is-pr == 'false' }}
        run: echo "Not a PR. Proceeding with CI."
