name: Release
on:
  workflow_dispatch:
    inputs:
      version:
        description: Version to release
        required: true
      force:
        description: Force a release even when there are release-blockers (optional)
        required: false
      merge_target:
        description: Target branch to merge into. Uses the default branch as a fallback (optional)
        required: false

jobs:
  prepare_framework:
    runs-on: macos-13-xlarge
    name: 'Create XCFramework'
    steps:
      - uses: actions/checkout@v4
    
      - name: 'Generate XCFramework'
        run: |
            ./scripts/ci-select-xcode.sh 15.2
            cp README.md Carthage/Sentry.xcframework.zip
#            make build-xcframework
            
      - uses: actions/upload-artifact@v4
        with:
          name: Sentry.xcframework.zip
          path: Carthage/Sentry.xcframework.zip
          overwrite: true

  job_release:
    runs-on: ubuntu-latest
    name: 'Release a new version'
    needs: prepare_framework
    steps:
      - name: Check out current commit (${{ github.sha }})
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_RELEASE_PAT }}
          fetch-depth: 0
          
      - uses: actions/download-artifact@v4
        with:
          name: Sentry.xcframework.zip
          path: Carthage/
          
      - run: export GITHUB_RUN_ID=${{ github.run_id }}
      
      - name: Prepare release
        uses: getsentry/action-prepare-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GH_RELEASE_PAT }}
        with:
          version: ${{ github.event.inputs.version }}
          force: ${{ github.event.inputs.force }}
          merge_target: ${{ github.event.inputs.merge_target }}
