name: Release
run-name: Release ${{ github.event.inputs.version || github.sha }}

on:
  push:
    branches:
      - main

  pull_request:
    paths:
      - "Sources/**"
      - "scripts/ci-select-xcode.sh"
      - Sentry.xcworkspace/**
      - Sentry.xcodeproj/**
      - "Package.swift"
      - ".github/workflows/build-xcframework.yml"
      - "scripts/build-xcframework-slice.sh"
      - "scripts/assemble-xcframework.sh"
      - ".github/workflows/build-xcframework-variant-slices.yml"
      - ".github/workflows/assemble-xcframework-variant.yml"
      - Samples/macOS-SPM-CommandLine/**
      - Samples/SPM-Dynamic/**

  workflow_dispatch:
    inputs:
      version:
        description: Version to release
        required: true
      force:
        description: Force a release even when there are release-blockers (optional)
        required: false
      merge_target:
        description: Target branch to merge into. Uses the default branch as a fallback (optional)
        required: false

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build-xcframework-variant-slices:
    uses: ./.github/workflows/build-xcframework-variant-slices.yml
    with:
      name: ${{matrix.variant.name}}
      suffix: ${{matrix.variant.suffix}}
      macho-type: ${{matrix.variant.macho-type}}
      configuration-suffix: ${{matrix.variant.configuration-suffix}}
      variant-id: ${{matrix.variant.id}}
      release-version: ${{ github.event.inputs.version }}
    strategy:
      matrix:
        variant:
          - name: Sentry
            macho-type: mh_dylib
            suffix: "-Dynamic"
            id: sentry-dynamic
          - name: Sentry
            macho-type: staticlib
            id: sentry-static
          - name: SentrySwiftUI
            macho-type: mh_dylib
            id: sentry-swiftui
          - name: Sentry
            macho-type: mh_dylib
            suffix: "-WithoutUIKitOrAppKit"
            configuration-suffix: WithoutUIKit
            id: sentry-withoutuikit-dynamic

  assemble-xcframework-variant:
    needs: build-xcframework-variant-slices
    uses: ./.github/workflows/assemble-xcframework-variant.yml
    secrets: inherit
    with:
      name: ${{matrix.variant.name}}
      suffix: ${{matrix.variant.suffix}}
      configuration-suffix: ${{matrix.variant.configuration-suffix}}
      variant-id: ${{matrix.variant.id}}
      signed: "--sign"
    strategy:
      matrix:
        variant:
          - name: Sentry
            macho-type: mh_dylib
            suffix: "-Dynamic"
            id: sentry-dynamic
          - name: Sentry
            macho-type: staticlib
            id: sentry-static
          - name: SentrySwiftUI
            macho-type: mh_dylib
            id: sentry-swiftui
          - name: Sentry
            macho-type: mh_dylib
            suffix: "-WithoutUIKitOrAppKit"
            configuration-suffix: WithoutUIKit
            id: sentry-withoutuikit-dynamic

  validate-xcframework:
    name: Validate XCFramework
    runs-on: macos-13
    needs: assemble-xcframework-variant
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          pattern: xcframework-${{github.sha}}-sentry-static
          path: Carthage/
      - uses: actions/download-artifact@v4
        with:
          pattern: xcframework-${{github.sha}}-sentry-swiftui
          path: Carthage/
      - run: find Carthage -name "*.zip" -print0 | xargs -t0I @ mv @ Carthage
      - run: ./scripts/ci-select-xcode.sh 15.2
      - run: make build-xcframework-sample
        shell: sh

  # Use github.event.pull_request.head.sha instead of github.sha when available as
  # the github.sha is be the pre merge commit id for PRs.
  # See https://github.community/t/github-sha-isnt-the-value-expected/17903/17906.
  validate-spm:
    name: Validate Swift Package Manager
    runs-on: macos-13
    needs: assemble-xcframework-variant
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          pattern: xcframework-${{github.sha}}-*
          merge-multiple: true
      - name: Change path of the framework
        run: |
          sed -i '' 's/url.*//g' Package.swift
          sed -i '' 's/checksum: ".*" \/\/Sentry-Static/path: "Sentry.xcframework.zip"/g' Package.swift
          sed -i '' 's/checksum: ".*" \/\/Sentry-Dynamic/path: "Sentry-Dynamic.xcframework.zip"/g' Package.swift
        shell: bash
      - run: swift build
        working-directory: Samples/macOS-SPM-CommandLine
        shell: sh

  validate-spm-dynamic:
    name: Validate Swift Package Manager Dynamic
    runs-on: macos-13
    needs: assemble-xcframework-variant
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          pattern: xcframework-${{github.sha}}-*
          merge-multiple: true
      - name: Change path of the framework
        run: |
          sed -i '' 's/url.*//g' Package.swift
          sed -i '' 's/checksum: ".*" \/\/Sentry-Static/path: "Sentry.xcframework.zip"/g' Package.swift
          sed -i '' 's/checksum: ".*" \/\/Sentry-Dynamic/path: "Sentry-Dynamic.xcframework.zip"/g' Package.swift
        shell: bash
      - run: swift build
        working-directory: Samples/SPM-Dynamic
        shell: sh

  swift-build:
    name: Build with Swift
    runs-on: macos-13
    needs: assemble-xcframework-variant
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          pattern: xcframework-${{github.sha}}-*
          merge-multiple: true
      - name: Change path of the framework
        run: |
          sed -i '' 's/url.*//g' Package.swift
          sed -i '' 's/checksum: ".*" \/\/Sentry-Static/path: "Sentry.xcframework.zip"/g' Package.swift
          sed -i '' 's/checksum: ".*" \/\/Sentry-Dynamic/path: "Sentry-Dynamic.xcframework.zip"/g' Package.swift
        shell: bash
      - run: swift build
        shell: sh

  job_release:
    runs-on: ubuntu-latest
    name: "Release a new version"
    needs: [
      validate-xcframework,
      validate-spm,
      validate-spm-dynamic,
      swift-build
    ]
    if: ${{ github.event_name == 'workflow_dispatch' }}
    steps:
      - name: Get auth token
        id: token
        uses: actions/create-github-app-token@df432ceedc7162793a195dd1713ff69aefc7379e # v2.0.6
        with:
          app-id: ${{ vars.SENTRY_RELEASE_BOT_CLIENT_ID }}
          private-key: ${{ secrets.SENTRY_RELEASE_BOT_PRIVATE_KEY }}
      - name: Check out current commit (${{ github.sha }})
        uses: actions/checkout@v4
        with:
          token: ${{ steps.token.outputs.token }}
          fetch-depth: 0

      - uses: actions/download-artifact@v4
        with:
          pattern: xcframework-${{github.sha}}-*
          merge-multiple: true
          path: Carthage/

      # update-package-sha.sh uses this env variable to update Package.swift.
      # During release Craft calls bump.sh that uses update-package-sha.sh.
      - run: export GITHUB_RUN_ID=${{ github.run_id }}

      - name: Prepare release
        uses: getsentry/action-prepare-release@v1
        env:
          GITHUB_TOKEN: ${{ steps.token.outputs.token }}
        with:
          version: ${{ github.event.inputs.version }}
          force: ${{ github.event.inputs.force }}
          merge_target: ${{ github.event.inputs.merge_target }}
