name: SDK Size Analysis

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  ready-to-merge-gate:
    name: Ready-to-merge gate
    uses: ./.github/workflows/ready-to-merge-workflow.yml

  files-changed:
    name: Detect File Changes
    runs-on: ubuntu-latest
    needs: ready-to-merge-gate
    outputs:
      run_size_analysis_for_prs: ${{ steps.changes.outputs.run_size_analysis_for_prs }}
    steps:
      - uses: actions/checkout@v5
      - name: Get changed files
        id: changes
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        with:
          token: ${{ github.token }}
          filters: .github/file-filters.yml

  build:
    name: Build and Analyze SDK Size
    runs-on: macos-26

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Select Xcode
        run: ./scripts/ci-select-xcode.sh 16.4

      - name: Setup Ruby
        uses: ruby/setup-ruby@d5126b9b3579e429dd52e51e68624dda2e05be25 # v1.267.0
        with:
          bundler-cache: true

      - run: make init-ci-build
      - run: make xcode-ci
      - name: Make Sentry Static
        run: |
          echo "MACH_O_TYPE = staticlib" >> Sources/Configuration/Sentry.xcconfig

      - name: Build and Upload for Size Analysis
        run: bundle exec fastlane build_ios_for_size_analysis
        env:
          FASTLANE_BUNDLE_VERSION: ${{ github.run_number }}
          FASTLANE_KEYCHAIN_PASSWORD: ${{ secrets.FASTLANE_KEYCHAIN_PASSWORD }}
          MATCH_GIT_PRIVATE_KEY: ${{ secrets.MATCH_GIT_PRIVATE_KEY }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          MATCH_USERNAME: ${{ secrets.MATCH_USERNAME }}
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}

      - name: Run CI Diagnostics
        if: failure()
        shell: bash
        run: ./scripts/ci-diagnostics.sh
