name: Upload to Testflight
on:
  push:
    branches:
      - main
      - feat/strict-file-io
    paths:
      - 'Sources/**'
      - 'Samples/iOS-Swift/**'
      - '.github/workflows/testflight.yml'
      - 'fastlane/**'
      - 'scripts/ci-select-xcode.sh'

jobs:
  upload_to_testflight:
    name: Build and Upload iOS-Swift to Testflight
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v3
      # Xcode 14.1 has a bug with fastlane see https://github.com/fastlane/fastlane/issues/20910
      - run: ./scripts/ci-select-xcode.sh 14.0.1
      - run: bundle install

      # We upload a new version to TestFlight on every commit on main
      # So we need to bump the build number each time
      - name: Bump Build Version
        env:
          FASTLANE_BUILD_NUMBER: ${{ github.run_number }}
        run: bundle exec fastlane bump_build_number

      - name: Remove preview version suffixes
        run: bundle exec fastlane remove_preview_version_suffixes

      - name: Run Fastlane
        env:
          APP_STORE_CONNECT_KEY_ID: ${{ secrets.APP_STORE_CONNECT_KEY_ID }}
          APP_STORE_CONNECT_ISSUER_ID: ${{ secrets.APP_STORE_CONNECT_ISSUER_ID }}
          APP_STORE_CONNECT_KEY: ${{ secrets.APP_STORE_CONNECT_KEY }}
          FASTLANE_BUNDLE_VERSION: ${{ github.run_number }}
          FASTLANE_KEYCHAIN_PASSWORD: ${{ secrets.FASTLANE_KEYCHAIN_PASSWORD }}
          MATCH_GIT_PRIVATE_KEY: ${{ secrets.MATCH_GIT_PRIVATE_KEY }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          MATCH_USERNAME: ${{ secrets.MATCH_USERNAME }}
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        run: |
          bundle exec fastlane build_ios_swift
          bundle exec fastlane ios_swift_to_testflight

      - name: Archiving
        uses: actions/upload-artifact@v3
        with:
          name: dSYMs
          path: |
            ${{ github.workspace }}/iOS-Swift.*
            ${{ github.workspace }}/*.dSYM.zip
            ${{ github.workspace }}/dSYMs/
