name: UI Tests Critical
on:
  push:
    branches:
      - main

  pull_request:
    paths:
      - 'Sources/**'
      - '.github/workflows/ui-tests-critical.yml'
      - 'fastlane/**'
      - 'TestSamples/**'
      - '**/*.xctestplan'

# https://docs.github.com/en/actions/using-jobs/using-concurrency#example-using-a-fallback-value
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build-sample:
    name: Build SwiftUITestSample Sample
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
      - run: ./scripts/ci-select-xcode.sh "16.2"
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - run: bundle exec fastlane build_ios_swift_ui_test_sample
      - uses: actions/upload-artifact@v4
        with:
          name: SwiftUITestSample
          path: TestSamples/SwiftUITestSample/DerivedData/Build/Products/Debug-iphonesimulator/SwiftUITestSample.app

  run-tests:
    name: Test iOS on Xcode ${{matrix.xcode}}
    needs: [build-sample]
    runs-on: ${{matrix.runs-on}}
    env:
      APP_ARTIFACT_NAME: "SwiftUITestSample"
      APP_PATH: "Sample.app"

      MAESTRO_FLOWS_PATH: "TestSamples/SwiftUITestSample/Maestro"
      MAESTRO_LOGS_PATH: "MaestroLogs"

      # https://github.com/facebook/react-native/blob/24e7f7d25629a7af6d877a0b79fed2faaab96437/.github/actions/maestro-ios/action.yml#L57
      MAESTRO_DRIVER_STARTUP_TIMEOUT: 1500000 # 25 min, CI can be slow at times

    strategy:
      fail-fast: false
      matrix:
        include:

          # As of 25th March 2025, the preinstalled iOS simulator version is 16.4 for macOS 13 and Xcode 14.3.1; see 
          # https://github.com/actions/runner-images/blob/main/images/macos/macos-13-Readme.md#installed-sdks
          - runs-on: macos-13
            xcode: "14.3.1"
            device: "iPhone 14"

          # macos-14 iOS 17 not included due to the XCUIServerNotFound errors causing flaky tests

          # As of 25th March 2025, the preinstalled iOS simulator version is 18.2 for macOS 15 and Xcode 16.2; see 
          # https://github.com/actions/runner-images/blob/main/images/macos/macos-15-Readme.md#installed-sdks
          - runs-on: macos-15
            xcode: "16.2"
            device: "iPhone 16"

    steps:
      - uses: actions/checkout@v4

      - name: Install tooling
        run: make init-ci-test

      - uses: actions/download-artifact@v4
        with:
          name: ${{env.APP_ARTIFACT_NAME}}
          path: ${{env.APP_PATH}}

      - name: Boot Simulator
        run: xcrun simctl boot "${{matrix.device}}"

      - name: Install App
        run: xcrun simctl install booted ${{env.APP_PATH}}

      - name: Run Maestro Flows
        run: |
          maestro test ${{env.MAESTRO_FLOWS_PATH}} --format junit --debug-output ${{env.MAESTRO_LOGS_PATH}}

      - name: Store Maestro Logs
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: maestro-logs-${{matrix.xcode}}
          path: ${{env.MAESTRO_LOGS_PATH}}
