name: UI Tests Critical
on:
  push:
    branches:
      - main

  pull_request:
    paths:
      - "Sources/**"
      - ".github/workflows/ui-tests-critical.yml"
      - ".github/workflows/ui-tests-common.yml"
      - "fastlane/**"
      - "TestSamples/**"
      - "**/*.xctestplan"
      # Explicitly list used scripts to avoid unnecessary runs
      - "scripts/ci-boot-simulator.sh"
      - "scripts/ci-select-xcode.sh"

# https://docs.github.com/en/actions/using-jobs/using-concurrency#example-using-a-fallback-value
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  run-tests:
    name: Test iOS on Xcode ${{matrix.platform.xcode}} - V4 # Up the version with every change to keep track of flaky tests
    runs-on: ${{matrix.platform.runs-on}}
    strategy:
      fail-fast: false
      matrix:
        platform:
          # As of 25th March 2025, the preinstalled iOS simulator version is 16.4 for macOS 13 and Xcode 14.3.1; see
          # https://github.com/actions/runner-images/blob/main/images/macos/macos-13-Readme.md#installed-sdks
          - runs-on: macos-13
            xcode: "14.3.1"

          # macos-14 iOS 17 not included due to the XCUIServerNotFound errors causing flaky tests

          # As of 25th March 2025, the preinstalled iOS simulator version is 18.2 for macOS 15 and Xcode 16.2; see
          # https://github.com/actions/runner-images/blob/main/images/macos/macos-15-Readme.md#installed-sdks
          - runs-on: macos-15
            xcode: "16.2"

    steps:
      - uses: actions/checkout@v4

      - name: Print hardware info
        run: system_profiler SPHardwareDataType

      - uses: ./.github/workflows/ui-tests-common.yml
        with:
          fastlane_command: build_ios_swift_ui_test_sample
          build_with_make: true
          xcode_version: ${{matrix.platform.xcode}}
          macos_version: ${{matrix.platform.runs-on}}
