name: UI Tests
on:
  push:
    branches:
      - main

  pull_request:
    paths:
      - "Sources/**"
      - "Tests/**"
      - ".github/workflows/ui-tests.yml"
      - "fastlane/**"
      - ".sauce/config.yml"
      - "scripts/ci-select-xcode.sh"
      - "**/*.xctestplan"
      - "Samples/iOS-SwiftUI/**"
      - "Samples/iOS-Swift/**"
      - "Samples/iOS-Swift6/**"
      - "scripts/build-xcframework-slice.sh"
      - "scripts/assemble-xcframework.sh"
      - ".github/workflows/build-xcframework-variant-slices.yml"
      - ".github/workflows/assemble-xcframework-variant.yml"

# https://docs.github.com/en/actions/using-jobs/using-concurrency#example-using-a-fallback-value
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  ui-tests:
    name: UI Tests for ${{matrix.target}} - V3 # Up the version with every change to keep track of flaky tests
    runs-on: macos-14
    strategy:
      matrix:
        target: ["ios_objc", "tvos_swift"]
    steps:
      - uses: actions/checkout@v4
      - name: Print hardware info
        run: system_profiler SPHardwareDataType
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - run: ./scripts/ci-select-xcode.sh 16.2
      - run: make init-ci-build
      - run: make xcode
      - name: Add Microphone permissions
        uses: ./.github/actions/add-microphone-permissions
      - name: Run Fastlane
        run: bundle exec fastlane ui_tests_${{matrix.target}}
        shell: sh

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@65fe03598d8d251738592a497a9e8547a5c48eaa # v5.6.0
        if: always()
        with:
          report_paths: "build/reports/junit.xml"
          fail_on_failure: true
          fail_on_parse_error: true
          detailed_summary: true

      - name: Upload Result Bundle
        uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        with:
          name: ui-tests-${{matrix.target}}.xcresult
          path: fastlane/test_results/ui-tests-${{matrix.target}}.xcresult

      - name: Archiving Raw Test Logs
        uses: actions/upload-artifact@v4
        if: ${{ failure() || cancelled() }}
        with:
          name: raw-uitest-output-${{matrix.target}}
          path: |
            ~/Library/Logs/scan/*.log
            ./fastlane/test_output/**

      - name: Store screenshot
        uses: ./.github/actions/capture-screenshot
        if: failure()

  # SwiftUI only supports iOS 14+ so we run it in a separate matrix here
  ui-tests-swift-ui:
    name: UI Tests for SwiftUI - V4 # Up the version with every change to keep track of flaky tests
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4

      - name: Print hardware info
        run: system_profiler SPHardwareDataType
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - run: ./scripts/ci-select-xcode.sh 16.2
      - run: make init-ci-build
      - run: make xcode
        name: XcodeGen iOS-Swift project

      - name: Add Microphone permissions
        uses: ./.github/actions/add-microphone-permissions
      - name: Run Fastlane
        run: bundle exec fastlane ui_tests_ios_swiftui
        shell: sh

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@65fe03598d8d251738592a497a9e8547a5c48eaa # v5.6.0
        if: always()
        with:
          report_paths: "build/reports/junit.xml"
          fail_on_failure: true
          fail_on_parse_error: true
          detailed_summary: true

      - name: Upload Result Bundle
        uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        with:
          name: ui-tests-ios-swiftui.xcresult
          path: fastlane/test_results/ui-tests-ios-swiftui.xcresult

      - name: Archiving Raw Test Logs
        uses: actions/upload-artifact@v4
        if: ${{ failure() || cancelled() }}
        with:
          name: ui-tests-ios-swiftui-raw-output
          path: |
            ~/Library/Logs/scan/*.log
            ./fastlane/test_output/**

      - name: Store screenshot
        uses: ./.github/actions/capture-screenshot
        if: failure()

  ui-tests-swift:
    name: UI Tests for iOS-Swift Xcode ${{matrix.xcode}} - V4 # Up the version with every change to keep track of flaky tests
    runs-on: ${{matrix.runs-on}}
    strategy:
      fail-fast: false
      matrix:
        include:
          - runs-on: macos-13
            xcode: "14.3.1"
            device: "iPhone 14 (16.4)"
          - runs-on: macos-14
            xcode: "15.4"
            device: "iPhone 15 (17.5)"
          - runs-on: macos-15
            xcode: "16.3"
            device: "iPhone 16 (18.4)"

    steps:
      - uses: actions/checkout@v4

      - name: Print hardware info
        run: system_profiler SPHardwareDataType
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - run: ./scripts/ci-select-xcode.sh ${{matrix.xcode}}

      - run: make init-ci-build
      - run: make xcode
        name: XcodeGen iOS-Swift project

      - name: Add Microphone permissions
        uses: ./.github/actions/add-microphone-permissions

      - name: Run Fastlane
        run: bundle exec fastlane ui_tests_ios_swift device:"${{matrix.device}}"

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@65fe03598d8d251738592a497a9e8547a5c48eaa # v5.6.0
        if: always()
        with:
          report_paths: "build/reports/junit.xml"
          fail_on_failure: true
          fail_on_parse_error: true
          detailed_summary: true

      - name: Upload Result Bundle
        uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        with:
          name: ui-tests-ios-swift-xcode_${{matrix.xcode}}-${{matrix.device}}.xcresult
          path: fastlane/test_results/ui-tests-ios-swift.xcresult

      - name: Archiving Raw Test Logs
        uses: actions/upload-artifact@v4
        if: ${{ failure() || cancelled() }}
        with:
          name: ui-tests-ios-swift-raw-logs-xcode_${{matrix.xcode}}-${{matrix.device}}
          path: |
            ~/Library/Logs/scan/*.log
            ./fastlane/test_output/**

      - name: Store screenshot
        uses: ./.github/actions/capture-screenshot
        if: failure()

  ui-tests-swift6:
    name: UI Tests for iOS-Swift6 - V3 # Up the version with every change to keep track of flaky tests
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4

      - name: Print hardware info
        run: system_profiler SPHardwareDataType
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - run: ./scripts/ci-select-xcode.sh "16.2"

      - run: make init-ci-build
      - run: make xcode
        name: XcodeGen iOS-Swift project

      - name: Add Microphone permissions
        uses: ./.github/actions/add-microphone-permissions

      - name: Run Fastlane
        run: bundle exec fastlane ui_tests_ios_swift6

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@65fe03598d8d251738592a497a9e8547a5c48eaa # v5.6.0
        if: always()
        with:
          report_paths: "build/reports/junit.xml"
          fail_on_failure: true
          fail_on_parse_error: true
          detailed_summary: true

      - name: Upload Result Bundle
        uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        with:
          name: ui-tests-ios-swift6.xcresult
          path: fastlane/test_results/ui-tests-ios-swift6.xcresult

      - name: Archiving Raw Test Logs
        uses: actions/upload-artifact@v4
        if: ${{ failure() || cancelled() }}
        with:
          name: ui-tests-ios-swift6-raw-output
          path: |
            ~/Library/Logs/scan/*.log
            ./fastlane/test_output/**

      - name: Store screenshot
        uses: ./.github/actions/capture-screenshot
        if: failure()

  build-xcframework-variant-slices:
    uses: ./.github/workflows/build-xcframework-variant-slices.yml
    with:
      name: Sentry
      macho-type: staticlib
      variant-id: sentry-static
      sdk-list: '["iphoneos", "iphonesimulator"]'

  assemble-xcframework-variant:
    needs: build-xcframework-variant-slices
    uses: ./.github/workflows/assemble-xcframework-variant.yml
    with:
      name: Sentry
      variant-id: sentry-static
      sdk-list: "iphoneos,iphonesimulator"

  duplication-tests:
    name: UI Tests for project with Sentry duplicated - V3 # Up the version with every change to keep track of flaky tests
    runs-on: macos-15
    needs: assemble-xcframework-variant
    steps:
      - uses: actions/checkout@v4

      - name: Print hardware info
        run: system_profiler SPHardwareDataType
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - run: ./scripts/ci-select-xcode.sh "16.2"

      - uses: actions/download-artifact@v4
        with:
          pattern: xcframework-${{github.sha}}-sentry-static
          path: Carthage/
      - run: find Carthage -name "Sentry.xcframework.zip" -print0 | xargs -t0I @ unzip @ -d Carthage

      - name: Add Microphone permissions
        uses: ./.github/actions/add-microphone-permissions

      - name: Run Fastlane
        run: bundle exec fastlane duplication_test

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@65fe03598d8d251738592a497a9e8547a5c48eaa # v5.6.0
        if: always()
        with:
          report_paths: "build/reports/junit.xml"
          fail_on_failure: true
          fail_on_parse_error: true
          detailed_summary: true

      - name: Upload Result Bundle
        uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        with:
          name: duplication-test.xcresult
          path: fastlane/test_results/duplication-test.xcresult

      - name: Archiving Raw Test Logs
        uses: actions/upload-artifact@v4
        if: ${{ failure() || cancelled() }}
        with:
          name: duplication-test-raw-output
          path: |
            ~/Library/Logs/scan/*.log
            ./fastlane/test_output/**

      - name: Store screenshot
        uses: ./.github/actions/capture-screenshot
        if: failure()
